.btn {
    padding: 9px 14px;

    border-radius: 20px;

    min-width: 63px;
    height: 24px;

    
    font-family: $main-font;
    @include fonts (normal, 400, 8px, 10px);
}
.btn--dark {
background-color: $accentColor;
color: white;
    &:hover, &:focus {
        background-color:white;
        color: $accentColor;
    }
}
.btn--light {
    background-color:white ;
    color: $accentColor;

    &:hover,
    &:focus {
        background-color: $accentColor;
        color: white;
    }
}