body {
    // font-family: $main-font;
    // color: $font-lead-color;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

body button {
    cursor: pointer;
    padding: 0;
}

body img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    width: 100%;

    margin-left: auto;
    margin-right: auto;

    padding-left: 20px;
    padding-right: 20px;



    @include mq(mobile-only){
        width: 480px;
    }

    @include mq(tablet-only) {
    width:768px;

    padding-left: 36px;
    padding-right: 36px;
    }

    @include mq(desktop) {
        width:1280px;

        padding-left: 15px;
        padding-right: 15px;
    }
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.link, address {
    text-decoration: none;
    color: inherit;
}
