// Background-Color
$heroBgColor: #FFB8CA;
$primaryBgColor: #E5E5E5;
$secondaryBgColor:#FFF5F6;
$modalBgColor:#E17992;

// Background-Color-Button
$primaryBgButton: #FFFFFF;
$secondaryBgButton: #ECEBEB;
$accentBgButton: #C7133E;

// Background-Color-Products
$primaryBgProducts: #FFB8CA;
$secondBgProducts: #F0D1A5;
$thirdBgProducts: #C2E297;

// Background-Svg
$accentBgSvg:#D31342;
$svgBg: #FEA5BB;

// Color
$accentColor: #D41443;

$mainTitleColor: #D41443;
$secondaryTitleColor: #FFA5BA;

$whiteTextColor: #FFFFFF;
$blackTextColor: #000000;
$mainTextColor: #907E82;