<!-- <div class="modal-toggle js-menu-container" id="mobile-menu">
    <div>
        <button class="" type="button">Buy now
            <svg class="" width="20" height="12">
                <use href="./images/sprite.svg#icon-vector-btn"></use>
            </svg>
        </button>
        <nav class="burger__nav">
            <ul class="burger__list">
                <li class="burger__item"><a class="link" href="#part1">Home</a></li>
                <li class="burger__item"><a class="link" href="#part2">About us</a></li>
                <li class="burger__item"><a class="link" href="#part3">How it's made?</a></li>
                <li class="burger__item"><a class="link" href="#part4">Our products</a></li>
                <li class="burger__item"><a class="link" href="#part5">Contact</a></li>
            </ul>
        </nav>
    </div>
    <button type="button" class="modal-toggle__btn js-close-menu">
        <svg class="modal-toggle__svg" width="14" height="14">
            <use href="./images/sprite.svg#icon-close"></use>
        </svg>
    </button>
</div> -->
