<!-- CONTACTS START -->
<section class = "container">
  <div class = "contacts__container">
    <h2 class = "visually-hidden">blablablablablaBLA</h2>

    <ul class = "contacts__list-place">
      <li class = "contacts__item-place">
        <p class = "contacts__place-cafe">cafe</p>
        <h3 class = "contacts__city">Chicago</h3>
        <p class = "contacts__city-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          <p class = "contacts__date">Monday - Friday</p>
          <p class = "contacts__time"> <time class = "contacts__time-work">06:00</time> AM -<time class = "contacts__time-work">10:00</time> PM</p>
          <p class = "contacts__date">Saturday - Sunday</p>
          <p class = "contacts__time"> <time class = "contacts__time-work">08:00</time> AM -<time class = "contacts__time-work">16:00</time> PM</p>
      </li>
      <ul class = "contacts__list-contacts">
        <li class = "contacts__item-contacts"> <a href="tel:+610383766284">+61(0) 383 766 284</a> </li>
        <li class = "contacts__item-contacts"> <a href="mailto:noreply@envato.com">noreply@envato.com</a> </li>
      </ul>


      <li class = "contacts__item-place">
        <p class = "contacts__place-truck">food truck</p>
        <h3 class = " contacts__city">Los Angeles</h3>
        <p class = "contacts__city-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          <p class = "contacts__date">Monday - Friday</p>
          <p class = "contacts__time"> <time class = "contacts__time-work">06:00</time> AM -<time class = "contacts__time-work">10:00</time> PM</p>
          <p class = "contacts__date">Saturday - Sunday</p>
          <p class = "contacts__time"> <time class = "contacts__time-work">08:00</time> AM -<time class = "contacts__time-work">16:00</time> PM</p>
      </li>
      <ul class = "contacts__list-contacts">
        <li class = "contacts__item-contacts"> <a href="tel:+610383766284">+61(0) 383 766 284</a> </li>
        <li class = "contacts__item-contacts"> <a href="mailto:noreply@envato.com">noreply@envato.com</a> </li>
      </ul>


      <li class = "contacts__item-place">
        <p class = "contacts__place-cafe">cafe</p>
        <h3 class = " contacts__city">New York</h3>
        <p class = "contacts__city-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          <p class = "contacts__date">Monday - Friday</p>
          <p class = "contacts__time"> <time class = "contacts__time-work">06:00</time> AM -<time class = "contacts__time-work">10:00</time> PM</p>
          <p class = "contacts__date">Saturday - Sunday</p>
          <p class = "contacts__time"> <time class = "contacts__time-work">08:00</time> AM -<time class = "contacts__time-work">16:00</time> PM</p>
      </li>
      <ul class = "contacts__list-contacts">
        <li class = "contacts__item-contacts"> <a href="tel:+610383766284">+61(0) 383 766 284</a> </li>
        <li class = "contacts__item-contacts"> <a href="mailto:noreply@envato.com">noreply@envato.com</a> </li>
      </ul>

    </ul>
    <button class = "contacts__btn btn" type = "button"><span>Our Locations</span> </button>
    <button class = "contacts__btn btn" type = "button"><span>Franchise</span> </button>
  </div>
</section>
<!-- CONTACTS END -->