<section class="customers">
  <div class="container">
    <picture>
      <source
        srcset="
          ./images/customer-reviews/img-client-1-1x.png 1x,
          ./images/customer-reviews/img-client-1-2x.png 2x
        "
        type="image/png"
        media="(min-width: 320px)"
      />
      <img
        class="customers__image"
        src="./images/customer-reviews/img-client-1-1x.png"
        alt=""
        width="85"
        height="85"
        loading="lazy"
      />
    </picture>
    <div class="customers-wrapper">
      <p class="customers-text">
        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem .In hendrerit
        nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
      </p>
    </div>
    <div class="customers-slider">
      <p class="customers-name">Emily, Los Angeles</p>
      <div class="customers-slider__thumb">
        <div class="customers-slider__item"></div>
        <div class="customers-slider__item"></div>
        <div class="customers-slider__item"></div>
      </div>
    </div>
  </div>
</section>
