<header class="header">
        <div class="container">
            <div class="header__logo"> 
                <a class="header__link link" href="" aria-label="logo">
                    <img src="./images/header/logo.png" alt="logo">
                </a>
                                                <nav class="header__nav">
                                                    <ul class="header__nav-list">
                                                        <li class="header__nav-item"><a href="#part1">Home</a></li>
                                                        <li class="header__nav-item"><a href="#part2">About us</a></li>
                                                        <li class="header__nav-item"><a href="#part3">How it's made?</a></li>
                                                        <li class="header__nav-item"><a href="#part4">Our products</a></li>
                                                        <li class="header__nav-item"><a href="#part5">Contact</a></li>
                                                    </ul>
                                                </nav>
                <button class="header__burger modal-toggle__open js-open-menu" aria-expanded="false" aria-controls="mobile-menu">
                    <svg class="modal-toggle-open__svg" width="20" height="12">
                        <use href="./images/sprite.svg#icon-burger"></use>
                    </svg>
                </button>
                                <button class="header__btn" type="button">Buy now
                                    <svg class="" width="20" height="12">
                                        <use href="./images/sprite.svg#icon-vector-btn"></use>
                                    </svg>
                                </button>

            </div>
            <div class="header__wrap" >

            </div>

        </div>
</header>