<header>
        <div>
            <a class="header__link link" href="" aria-label="Логотип">
            <img src="../images/header/logo.png" alt="logo">
            </a>
        </div>
        <div>
            <!-- <button class="modal-toggle__btn js-open-menu" aria-expanded="false" aria-controls="mobile-menu">
                <svg class="modal-toggle__svg" width="20" height="12">
                    <use href="../images/sprite.svg#icon-Burger"></use>
                </svg>
            </button>
        </div>
        <div>
            <nav>
                <ul>
                    <li><a href=""></a>Home</li>
                    <li><a href=""></a>About us</li>
                    <li><a href=""></a>How it's made?</li>
                    <li><a href=""></a>Our products</li>
                    <li><a href="">Contact</a></li>
                </ul>
            </nav>
            <button class="" type="button">Buy now</button>
        </div> -->
</header>