<section class="hero__section section">
  <div class="container hero__container">
    <div>
      <h1 class="hero__title">
        ice cream made with <span class="hero__title--dark">passion</span>
      </h1>
      <ul class="list hero__list">
        <li class="item hero__item">
          <a class="link btn hero__btn btn--dark" href="#products">Products</a>
        </li>
        <li class="item hero__item">
          <a class="link btn hero__btn btn--light" href="#about">How it's made?</a>
        </li>
      </ul>
      <p class="hero__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et
      </p>
      <a class="link hero__link" href="#products">
        <img class="hero__icon" src="./images/arrow/arrow.png" alt="button-products"/>
      </a>
    </div>
    <div class="hero__box">
      <ul class="box__list list">
        <li class="box__item">
          <p class="box__text">16</p>
          <p class="box__text--small">cafes</p>
        </li>
        <li class="box__item">
          <p class="box__text">23</p>
          <p class="box__text--small">food trucks</p>
        </li>
      </ul>
    </div>
  </div>
</section>
