<section class="products">
  <div class="container">
    <p class="products-title-second">100% natural</p>
    <h2 class="product-title-main">products</h2>

    <ul class="products-list">
      <li class="products-item">
        <div class="products-item__wrapper"></div>
        <div class="products-item__thumb">
          <h3 class="products-title products-title__icecream">ice cream</h3>

          <p class="products-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. dolore magna aliqua facilisis.
          </p>
          <div class="products-button__wrapper">
            <button class="products-button">
              <img src="./images/arrow/arrow.png" alt="" class="button-img__products" />
            </button>
          </div>
        </div>
      </li>

      <li class="products-item">
        <div class="products-item__wrapper"></div>
        <div class="products-item__thumb">
          <h3 class="products-title products-title__coffee">ice coffee</h3>

          <p class="products-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. dolore magna aliqua facilisis.
          </p>
          <div class="products-button__wrapper">
            <button class="products-button">
              <img src="./images/arrow/arrow.png" alt="" class="button-img__products" />
            </button>
          </div>
        </div>
      </li>
      <li class="products-item">
        <div class="products-item__wrapper"></div>
        <div class="products-item__thumb">
          <h3 class="products-title products-title__milkshakes">milkshakes</h3>

          <p class="products-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. dolore magna aliqua facilisis.
          </p>
          <div class="products-button__wrapper">
            <button class="products-button">
              <img src="./images/arrow/arrow.png" alt="" class="button-img__products" />
            </button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
