<section class="products">
  <div class="container container">
    <p class="products-title-second">100% natural</p>
    <h2 class="product-title-main">products</h2>

    <ul class="products-list">
      <li class="products-item">
        <div class="products-item__wrapper"></div>
        <div class="products-item__thumb">
          <!-- <picture class="product__image">
            <source
              srcset="
                ./images/products/img-1/img-1-mobile-1x.webp 1x,
                ./images/products/img-1/img-1-mobile-2x.webp 2x
              "
              media="(max-width:767px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/products/img-1/img-1-mobile-1x.png 1x,
                ./images/products/img-1/img-1-mobile-2x.png 2x
              "
              media="(max-width:767px)"
              type="image/png"
            />
            <img
              class="image"
              src="./images/products/img-1/img-1-mobile-1x.png"
              alt="ice-cream"
              width="350"
              height="252"
            />
          </picture> -->

          <h3 class="products-title">ice cream</h3>

          <p class="products-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. dolore magna aliqua facilisis.
          </p>
          <button class="products-button">
            <svg class="icon-mail" width="40" heigth="40">
              <use href="./images/sprite.svg#icon-vector-btn"></use>
            </svg>
          </button>
        </div>
      </li>

      <li class="products-item">
        <!-- <img src="" alt="" class="products-img" /> -->

        <h3 class="products-title">ice coffee</h3>

        <p class="products-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
        <button class="products-button">
          <!-- <img src="" alt="" class="button-img__products" /> -->
        </button>
      </li>
      <li class="products-item">
        <!-- <img src="" alt="" class="products-img" /> -->

        <h3 class="products-title">milkshakes</h3>

        <p class="products-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
        <button class="products-button">
          <!-- <img src="" alt="" class="button-img__products" /> -->
        </button>
      </li>
    </ul>
  </div>
</section>
