<section class="products">
  <div class="container container">
    <p class="products-title-second">100% natural</p>
    <h2 class="product-title-main">products</h2>

    <ul class="products-list">
      <li class="products-item">
      <picture class="product__image">
      <source
        src="./images/img-1/img-1-mobile-1x.png 1x, ./images/img-1/img-1-mobile-2x.webp"
        media="(max-width:767px)"
        type="image/webp"
      />
      <img class="image" src="../images/img-1/img-1-mobile-1x.png" alt="ice-cream" />
    </picture>


        <h3 class="products-title">ice cream</h3>
        <ul class="products-slider">
          <li class="products-item-slider">
            <img src="" alt="">
          </li>
          <li class="products-item-slider">
            <img src="" alt="">
          </li>
          <li class="products-item-slider">
            <img src="" alt="">
          </li>
        </ul>

        <p class="products-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
        <button class="products-button">
          <img src="" alt="" class="button-img__products">
        </button>
      </li>
      <li class="products-item">
          <img src="" alt="" class="products-img">
  
          </img>
          <h3 class="products-title">ice coffee</h3>
  
          <p class="products-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            ut labore et. dolore magna aliqua facilisis.
          </p>
          <button class="products-button">
            <img src="" alt="" class="button-img__products">
          </button>
      </li>
      <li class="products-item">
        <img src="" alt="" class="products-img">
  
          </img>
          <h3 class="products-title">milkshakes</h3>
  
          <p class="products-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            ut labore et. dolore magna aliqua facilisis.
          </p>
          <button class="products-button">
            <img src="" alt="" class="button-img__products">
          </button>
      </li>
    </ul>
  </div>
</div>


<!-- <source
        src="./images/img-4-mobile-1x.png 1x, ./images/img-4-mobile-2x.png"
        media="(max-width:767px)"
        type="image/png"
      />
      <source
        src="./images/img-4-tabl-1x.webp 1x, ./images/img-4-tabl-2x.webp"
        media="(max-width:767px)"
        type="image/webp"
      />
      <source
        src="./images/img-4-tabl-1x.png 1x, ./images/img-4-tabl-2x.png"
        media="(max-width:767px)"
        type="image/png"
      />
      <source
        src="./images/img-4-desk-1x.webp 1x, ./images/img-4-desk-2x.webp"
        media="(max-width:767px)"
        type="image/webp"
      />
      <source
        src="./images/img-4-desk-1x.png 1x, ./images/img-4-desk-2x.png"
        media="(max-width:767px)"
        type="image/png"
      /> -->