// .container {
//     margin-left: auto;
//     margin-right: auto;
//     padding-left: 20px;
//     padding-right: 20px;

//     @media screen and (min-width:320px) {
//         width: 320px;
//     }

//     @media screen and (min-width:768px) {
//         width: 768px;
//     }

//     @media screen and (min-width:1200px) {
//         width: 1200px;
//     }
// }

// .section__text{
//     margin-bottom: 15px;

//     font-family: 'Titan One';
//     font-style: normal;
//     font-weight: 400;
//     font-size: 18px;
//     line-height: 1.16;
//     text-align: center;
//     text-transform: uppercase;
    
//     color: $secondaryTitleColor;
// }
// .section__title{
//     margin-bottom: 26px;

//     font-family: 'Titan One';
//     font-style: normal;
//     font-weight: 400;
//     font-size: 34px;
//     line-height: 1.14;
//     text-align: center;
//     letter-spacing: 0.04em;
//     text-transform: uppercase;
    
//     color: $mainTitleColor;
// }
.section__about {
    padding-top: 125px;
    padding-bottom: 39px;
    background-color: $secondaryBgColor;
}
.about__image{
    margin-bottom: 46px;
}
.about__text{
    margin-bottom: 47px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.62;

}
.about__text--main{
    color: $blackTextColor;
}
.about__text--sub{
    color: $mainTextColor;
}
.about__btn{
    padding-top: 14px;
    padding-bottom: 14px;
    min-width: 160px;
    width: 176px;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.28;
    text-align: center;
    
    color: $accentColor;
    background: $primaryBgButton;
    border-radius: 22px;
    border: 0px;
}