.header { 
    width: 100%;
    position: fixed;
    background-color: transparent;
    padding-top: 6px;
    @media (min-width:768px) {
        padding-top: 37px;
    }
    .container {
        margin: 0;

        overflow-x: hidden;

        display: flex;
        align-items: center;
    }
    z-index: 999;
}
.header__logo {
        margin-right: auto;
    }


.header__wrap {
        display: none;
    }
