.header { 
    width: 100%;
    position: fixed;
    background-color: transparent;
    padding-top: 6px;
    .container {
        display: flex;
        align-items: center;
    }
}
.header__logo {
        margin-right: auto;
    @media (min-width: 320px) {
    }
    }


.header__wrap {
        display: none;
    }
