.hero__section {
padding-top: 137px;
padding-bottom: 160px;  

background-color:$heroBgColor;

@include mq(mobile-only) {
    
    background-image: url('../images/hero-img-circle-mobile-1x.png'),
    url('../images/hero-img-1-mobile-1x.png');

    @include mq(retina){
        background-image: url('../images/hero-img-circle-mobile-2x.png'),
        url('../images/hero-img-1-mobile-2x.png');
        };
};

background-size:
cover;
background-repeat:
no-repeat;
background-position: left 36px, top 83px, left 117px, top 92px;
}
.hero__title {
    font-family: 'Titan One';
    @include fonts(normal, 400, 26px, 30px); 
    
    color: white;

    text-transform: uppercase;
}
.hero__title--dark {
    color:$accentColor;
}