.hero__section {
padding-top: 137px;
padding-bottom: 160px;  




}
.hero__title {
    font-family: 'Titan One';
    @include fonts(normal, 400, 26px, 30px); 
    
    color: white;

    text-transform: uppercase;
}
.hero__title--dark {
    color:$accentColor;
}